.body_style{
    background: #202020	;
}

.blue_div{
  min-height: 60%;
  width: 100%;
  height: 100%;
  background-color: #263041;
}

.intro_text{
    margin-top: 10%;
    font-family: "Impact";
    color: white;
    font-size:60px;
}
.normal_text{
    font-family: "FreeMono";
    color: white;
    font-size:20px;
}

.button_round {
  border-radius: 15px 50px 30px;
  padding: 10px;
  min-width: 150px;
  border-color: white;
  border: 2px solid white;
  background: #202020;
}
.intro_button {
  min-width:30%;
  min-height: 30%;
  cursor: pointer;
  color: white;
  border-color: white;
  border: 2px solid white;
  font-family: "Comic sans MS";
  font-size: 20px;
  padding: 10px;
  transform:rotate(45deg);

}

.black_div{
  min-height: 30px;
  background-color: #000;
  width: 100%;
}

.nav_text{
  font-family: "Bernard MT Condensed";
  color: white;
  font-size:35px;
}

.circular-img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  background-position:center;
  background-size:cover;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  height:80px;
  margin: auto;
  background: white;
  overflow:auto;
  padding: 10px;

}

.card:hover {
  box-shadow: 8px 8px 8px 8px rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.vl {
  border-left: 6px solid green;
  height: 500px;
}









.centered {
    position: absolute;
    margin-top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
}
.center-left {
    font-family: "Arial Black";
    color: white;
    margin-left: 10%;
	font-size:35px;
}

.div1 {
  min-height: 300px;
  background-color: #263041;
  width: 100%;
}

.div2 {
  min-height: 100px;
  background-color: #263041;
  width: 100%;

}

.href1{

  font-size: 20px;
  margin-left:10px;
}

.heading1{
	font-family: "Bernard MT Condensed";
	font-size:35px;
}


.circular-icons{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
 }

.text{
	border-radius: 50%;
  	width: 250px;
  	height: 250px;
  	background:#FFF;
	opacity:0;
}

.circular-img:hover .text
{
	border-radius: 50%;
  	width: 250px;
  	height: 250px;
  	opacity:0.8;
	text-align:justify;
	background:#2FBAB6;
	color: white;
	font-size:20px;
	font-family:"Lucida Sans Unicode";
	padding:30px;
}

.button1 {
  min-width:30%;
  min-height: 10%;
  cursor: pointer;
  color: white;
  margin-left: 10%;
  border-color: white;
  border: 2px solid white;
  font-family: "Lucida Sans Unicode";
  font-size: 20px;
  padding: 10px;
}

.button1:hover {
  background-color:#F57157 !important;
}
